.header {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

main > img {
  display: block;
  margin: auto;
  width: 500px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
  width: 120px;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(yellow, red);
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
}

.page-list > section {
  font-weight: bold;
  margin: 20px 0;
  text-align: center;
}

.page-list > section > li {
  max-width: 400px;
  font-size: 13px;
  margin: 0 20px 5px 20px;
}

.page-list > section > li > article:first-child {
  font-size: 16px;
  margin-bottom: 5px;
}

.footer {
  height: 50px;
  background-color: lightgray;
}
