.header {
  display: flex;
  justify-content: space-around;
  margin: 15px;
}

main > img {
  display: block;
  margin: auto;
  width: 500px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
  width: 120px;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(yellow, red);
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
}

.character-container {
  font-weight: bold;
  margin: 20px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #888888;
}


.character-container > li {
  max-width: 400px;
  font-size: 14px;
  margin: 5px 0 10px 0;
}

.character-name {
  font-size: 24px;
  margin: 0 20px 5px 20px;
}

.footer {
  height: 50px;
  background-color: lightgray;
}
