.header {
  background-image: url('/images/aeons_end_title_backdrop.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 25px 0;
  border-bottom: 5px solid #CC0000;
}

.navigation-buttons {
  display: flex;
  justify-content: space-around;
  margin: 0 15px;
}

.button {
  font-size: 14px;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
  width: 120px;
  padding: 3px 5px;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(yellow, red);
}

.header > img {
  display: block;
  margin: auto;
  width: 500px;
  padding-top: 25px;
}

main {
  min-height: calc(100vh - 219.55px - 50px - 60px);
  min-height: -o-calc(100vh - 219.55px - 50px - 60px); /* opera */
  min-height: -webkit-calc(100vh - 219.55px - 50px - 60px); /* google, safari */
  min-height: -moz-calc(100vh - 219.55px - 50px - 60px); /* firefox */
}

.page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
  margin: 30px 0;
}

.character-container {
  font-weight: bold;
  margin: 20px;
  text-align: center;
  border: 1px solid black;
  box-shadow: 5px 5px 2px #888888;
}


.character-container > li {
  max-width: 400px;
  font-size: 14px;
  margin: 5px 0 10px 0;
}

.character-name {
  font-size: 24px;
  margin: 0 20px 5px 20px;
}

.footer {
  height: 50px;
  background-color: lightgray;
}
