// Place all the styles related to the Mages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.mage-image {
  max-width: 400px;
  border-bottom: 1px solid lightgray;
}

.mage-info {
  min-height: 200px;
}

.mage-ability {
  white-space: pre-line;
  font-size: 12px;
  margin: 15px 20px 25px 15px;
  height: 145px;
  line-height: 16px;
}
