.randomizer-container {
  margin: 30px 0;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
}

h1 {
  font-size: 20px;
  text-align: center;
  background-color: #6e8091;
  color: white;
  padding-top: 5px;
  border-bottom: 3px solid black;
}

.randomizer-container > div {
  margin: 30px 10px 0 10px;
}

.randomizer-game-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.randomizer-game-info > article {
  max-width: 1000px;
  min-width: 850px;
  text-align: center;
  margin-bottom: 10px;
}

.randomizer-game-info > section {
  margin: 30px 0;
  text-align: center;
}

.randomizer-game-info > section > article {
  margin-bottom: 15px;
  font-size: 20px;
}

.randomizer-game-pics {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  min-width: 850px;
}

.randomizer-game-pics > img {
  display: block;
  width: auto;
  max-height: 200px;
  object-fit: cover;
}

.randomizer-main-button-container {
  text-align: center;
  margin-bottom: 30px;
}

.randomizer-main-button {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
  color: #fff099;
  height: 38px;
  width: 200px;
  padding: 5px;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(red, #8B0000);
}

.randomizer-section-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.randomizer-mages-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}

.randomizer-mage-container {
  min-width: 850px;
  max-width: 850px;
}

.randomizer-section-options {
  display: flex;
  align-items: center;
  margin: 20px 10px 0 10px;
  min-width: 681.88px;
}

.randomizer-section-options > article {
  font-size: 12px;
  width: 100px;
  text-align: end;
  margin-right: 8px;
}

h2 {
  min-width: 295px;
  max-width: 295px;
  font-size: 18px;
  margin: 2px 15px 2px 0;
  text-align: center;
}

.randomizer-select {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
  height: 23px;
  min-width: 170px;
}

.randomizer-select-players {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
  height: 23px;
  min-width: 100px;
}

.randomizer-button {
  font-size: 12px;
  font-weight: 700;
  font-family: 'Spectral SC', serif;
  height: 25px;
  border-radius: 7px;
  cursor: pointer;
  background: linear-gradient(yellow, red);
}

.randomizer-character {
  display: flex;
  min-width: 676.89px;
  margin: 10px;
}

.randomizer-character > img {
  height: 179px;
  min-width: 293px;
}

.randomizer-character-info {
  display: flex;
  margin: 10px 20px;
  font-size: 12px;
}

.randomizer-character-info > ul {
  margin-bottom: 10px;
  width: 170px;
}

.randomizer-character-info > article {
  margin-left: 10px;
  width: 335px;
}

.randomizer-character-info > ul > li {
  padding: 0 10px;
}

.randomizer-character-info > ul > li:first-child {
  margin-top: 5px;
}

.randomizer-mage-ability {
  margin: 5px 0 0 10px;
  white-space: pre-line;
  line-height: 15px;
}

h3 {
  width: 100px;
}

.randomizer-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px 0;
}

.randomizer-card-heading {
  font-size: 18px;
  margin-right: 50px;
  padding-top: 1px;
  text-align: center;
}

.randomizer-section-card-options {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px 0;
}

.randomizer-card-type {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.randomizer-card-image {
  height: 200px;
  margin: 0 10px;
}

.randomizer-game-data {
  margin: 0 10px 30px 10px;
}

.randomizer-game-options {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.randomizer-game-options > section {
  margin: 20px 0 0 10px;
}

.randomizer-game-options > section > label {
  margin-right: 15px;
  font-size: 15px;
}

.randomizer-game-options > textarea {
  font-family: 'Spectral SC', serif;
  font-size: 12px;
  font-weight: 700;
  min-width: 600px;
  width: auto;
  margin: 30px 0;
}

.randomizer-checkbox {
  transform: scale(1.05);
}

.randomizer-select-difficulty {
  font-family: 'Spectral SC', serif;
  font-size: 12px;
  font-weight: 700;
  min-width: 50px;
}

.randomizer-game-data > article {
  height: 30px;
}

.randomizer-save-game-successful {
  text-align: center;
  font-size: 20px;
  color: #28A428;
}

.randomizer-save-game-errors {
  text-align: center;
  font-size: 20px;
  color: red;
}
